<div class="container">
  <div [hidden]="submitted">
    <h1>data Form</h1>
    <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
      <div class="form-group">
        <label for="name">vigencia</label>
        <input type="text" class="form-control" id="vigencia"
               required
               [(ngModel)]="model.vigencia" name="vigencia"
               #vigencia="ngModel">
        <div [hidden]="vigencia.valid || vigencia.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">porcentajeRiesgos</label>
        <input type="text" class="form-control" id="porcentajeRiesgos"
               required
               [(ngModel)]="model.porcentajeRiesgos" name="porcentajeRiesgos"
               #porcentajeRiesgos="ngModel">
        <div [hidden]="porcentajeRiesgos.valid || porcentajeRiesgos.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">porcentajeEfectividad</label>
        <input type="text" class="form-control" id="porcentajeEfectividad"
               required
               [(ngModel)]="model.porcentajeEfectividad" name="porcentajeEfectividad"
               #porcentajeEfectividad="ngModel">
        <div [hidden]="porcentajeEfectividad.valid || porcentajeEfectividad.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">porcentajeEjecucion</label>
        <input type="text" class="form-control" id="porcentajeEjecucion"
               required
               [(ngModel)]="model.porcentajeEjecucion" name="porcentajeEjecucion"
               #porcentajeEjecucion="ngModel">
        <div [hidden]="porcentajeEjecucion.valid || porcentajeEjecucion.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">riesgoMaterializado</label>
        <input type="text" class="form-control" id="riesgoMaterializado"
               required
               [(ngModel)]="model.riesgoMaterializado" name="riesgoMaterializado"
               #riesgoMaterializado="ngModel">
        <div [hidden]="riesgoMaterializado.valid || riesgoMaterializado.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">accionCorrectiva</label>
        <input type="text" class="form-control" id="accionCorrectiva"
               required
               [(ngModel)]="model.accionCorrectiva" name="accionCorrectiva"
               #accionCorrectiva="ngModel">
        <div [hidden]="accionCorrectiva.valid || accionCorrectiva.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">riesgoMantiene</label>
        <input type="text" class="form-control" id="riesgoMantiene"
               required
               [(ngModel)]="model.riesgoMantiene" name="riesgoMantiene"
               #riesgoMantiene="ngModel">
        <div [hidden]="riesgoMantiene.valid || riesgoMantiene.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">mejorasIncorporar</label>
        <input type="text" class="form-control" id="mejorasIncorporar"
               required
               [(ngModel)]="model.mejorasIncorporar" name="mejorasIncorporar"
               #mejorasIncorporar="ngModel">
        <div [hidden]="mejorasIncorporar.valid || mejorasIncorporar.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">nuevosRiesgos</label>
        <input type="text" class="form-control" id="nuevosRiesgos"
               required
               [(ngModel)]="model.nuevosRiesgos" name="nuevosRiesgos"
               #nuevosRiesgos="ngModel">
        <div [hidden]="nuevosRiesgos.valid || nuevosRiesgos.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">elaboradoPor</label>
        <input type="text" class="form-control" id="elaboradoPor"
               required
               [(ngModel)]="model.elaboradoPor" name="elaboradoPor"
               #elaboradoPor="ngModel">
        <div [hidden]="elaboradoPor.valid || elaboradoPor.pristine"
             class="alert alert-danger">
          required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!dataForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newData(); dataForm.reset()">New data</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">vigencia</div>
      <div class="col-xs-9  pull-left">{{ model.vigencia }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">porcentajeRiesgos</div>
      <div class="col-xs-9  pull-left">{{ model.porcentajeRiesgos }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">porcentajeEfectividad</div>
      <div class="col-xs-9  pull-left">{{ model.porcentajeEfectividad }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">porcentajeEjecucion</div>
      <div class="col-xs-9  pull-left">{{ model.porcentajeEjecucion }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">riesgoMaterializado</div>
      <div class="col-xs-9  pull-left">{{ model.riesgoMaterializado }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">accionCorrectiva</div>
      <div class="col-xs-9  pull-left">{{ model.accionCorrectiva }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">riesgoMantiene</div>
      <div class="col-xs-9  pull-left">{{ model.riesgoMantiene }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">mejorasIncorporar</div>
      <div class="col-xs-9  pull-left">{{ model.mejorasIncorporar }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">nuevosRiesgos</div>
      <div class="col-xs-9  pull-left">{{ model.nuevosRiesgos }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">elaboradoPor</div>
      <div class="col-xs-9  pull-left">{{ model.elaboradoPor }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
